#old files
*_old.*

# Python
__pycache__
.ipynb_checkpoints

#data
data/wikidata_entity_cache.p
data/WTR_non_filtered_non_annotated.csv

#text_extraction
text_extraction/reference_html_as_sentences_df.csv

#verbalisation
verbalisation/graph2text/outputs/t5-base_13881/best_tfmr/pytorch_model.bin
verbalisation/graph2text/outputs/t5-base_13881/val_avg_bleu=68.1000-step_count=5.ckpt
verbalisation.log

#sentence_retrieval
sentence_retrieval/checkpoint/model.best.32.pt
sentence_retrieval/checkpoint/model.best.bkp.pt
sentence_retrieval/bert_base/pytorch_model.bin